/* Reset some default browser styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Variables for Easy Customization */
:root {
    --primary-teal-color: #05806a;  /* Teal */
    --primary-white-color: #fff;
    --primary-grey-color: #4f4e52;
    --primary-dark-grey-color: #2c3e50;
    --font-family: 'Arial', sans-serif;
    --font-size-base: 16px;
    --font-size-large: 24px;
    --font-size-small: 14px;
}

/* Header (Hero Section) */

/* My Biography Section */

/* What I Do For You Section */

/* Featured Skills Section */

/* Success Work Section */


/* Footer Section */


/* ===================Media Queries for Responsiveness===================== */

/* Header (Hero Section) */

/* My Biography Section */

/* What I Do For You Section */

/* Featured Skills Section */

/* Success Work Section */


/* Footer Section */
